.userList {
    flex: 4;
    width: 100%;
    margin: 20px 40px;
    padding: 20px;
}

.userListUser {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.userListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userListEdit {
    padding: 7px 10px;
    background: greenyellow;
}

.userListDelete {
    color: red !important;
    margin-left: 10px;
}

