.sidebar {
    flex: 1;
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
}

.sidebarWrapper {
    padding: 8px 4px 0 20px;
}

.sidebarTitle {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.sidebarMenu {
    margin-bottom: 8px;
}

.sidebarMenuTitle {
    color: #555;
    font-size: 13px;
}

.sidebarLists {
    padding: 5px;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    column-gap: .5rem;

    padding: 6px;
    color: #555;
    cursor: pointer;
    border-radius: .4rem;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(232, 232, 253);
    color: #fff;
}

.sidebarIcon {
    font-size: 20px!important;
}