.sidebar {
    flex: 1;
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
}

.sidebarWrapper {
    padding: 8px 4px 0 20px;
}

.sidebarTitle {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarMenuTitle {
    color: #555;
    font-size: 13px;
    margin-bottom: 6px;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    column-gap: .5rem;

    padding: 6px;
    color: #555;
    cursor: pointer;
    border-radius: .3rem;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background:rgba(0, 0, 134, 0.6);
    color: #fff;
}

.sidebarIcon {
    font-size: 20px!important;
}