.user {
    flex: 4;
    margin: 20px 40px;
    padding: 30px;
}

.userTitleContainer {
    display: flex;
    justify-content: space-between;
}

.userAddBtn {
    width: 80px;
    border-radius: .5rem;
    background-color: teal;
    padding: 5px;

    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}
.userContainer {
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
}
.userShow {
    flex: 1;
    margin: 20px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userShowTop {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}

.userShowTopInfo {
    display: flex;
    flex-direction: column;
    row-gap: .1rem;
}

.userShowName {
    font-size: 20px;
    font-weight: 600;
}

.userShowJob {
    font-size: 16px;
    font-weight: 300;
}

.userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowBottom {
}

.userShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
    display: block;
    margin-top: 20px;
}

.userShowBottomInfo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.userUpdate {
    flex: 2;
    margin: 20px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}