.widgetSm {
    flex: 1;
    margin: 20px 40px;
    padding: 20px;
    border-radius: .4rem;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.widgetSmTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
.widgetSmListItem {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 30px;
}

.widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: 600;
}

.widgetSmUserTitle {
    font-weight: 300;
}

.widgetSmButton {
    display: flex;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: .5rem;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmIcon {
    font-size: 16px !important;
}
